/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  height: 900px;

}
.bgC{
  color: white;
  background: url('../../../content/images/imgFront.png') no-repeat top;
  height: 900px;
  background-size: cover;

}
